<md-toolbar fxLayout="column" color="primary">
  <div fxLayoutGap="15px">
    <!-- Home -->
    <a md-mini-fab routerLink="home" routerLinkActive #rlaHome="routerLinkActive" [color]="rlaHome.isActive ? 'accent' : 'default'">
      <md-icon>home</md-icon>
    </a>

    <!-- Dashboard -->
    <a md-mini-fab routerLink="dashboard" routerLinkActive #rlaDashboard="routerLinkActive" [color]="rlaDashboard.isActive ? 'accent' : 'default'">
      <md-icon>dashboard</md-icon>
    </a>

  </div>

  <!-- Title -->
  <span fxFlex></span>
  <span class="title" fxHide.xs> {{title | uppercase}}</span>
  <span fxFlex></span>

  <div fxLayoutGap="15px">
    <ng-container *ngIf="user$ | async as user; else anonymous">
      <!-- User -->
      <a md-mini-fab [mdMenuTriggerFor]="menu" color="primary">
        <md-icon>account_circle</md-icon>
      </a>
      <md-menu #menu="mdMenu">
        <button md-menu-item> {{ user.name }} ({{user.age}})</button>
      </md-menu>
      <!-- Logout -->
      <a md-mini-fab (click)="logout()" color="primary">
        <md-icon>power_settings_new</md-icon>
      </a>
    </ng-container>

    <ng-template #anonymous>
      <!-- Login -->
      <a md-mini-fab (click)="login()" color="primary">
        <md-icon>fingerprint</md-icon>
      </a>
    </ng-template>
  </div>


</md-toolbar>
