<md-toolbar fxLayout="column" color="primary">
  <div fxFlex="50%" fxLayoutGap="10px">
    <a md-mini-fab routerLink="home" routerLinkActive #rlaHome="routerLinkActive" [color]="rlaHome.isActive ? 'accent' : 'default'">
      <md-icon>home</md-icon>
    </a>
    <a md-mini-fab routerLink="dashboard" routerLinkActive #rlaDashboard="routerLinkActive" [color]="rlaDashboard.isActive ? 'accent' : 'default'">
      <md-icon>dashboard</md-icon>
    </a>
  </div>
  <span fxFlex></span> {{title}}
</md-toolbar>
